.App {
    height: 100vh;
    position: relative;
}

.App > .content {
    height: calc(100% - 40px);
}

.App > .menu {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 16px;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.App > .menu > * {
    flex: 0 0 auto;
}