.real .item {
    position: relative;
}
.real .item .index {
    position: absolute;
    left: 1rem;
    top: 1rem;
    white-space: nowrap;
    color: white;
}
.real .item .caption {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    white-space: nowrap;
    color: white;
}
.real .item .author {
    position: absolute;
    right: 1rem;
    bottom: 3rem;
    white-space: nowrap;
    color: white;
}